:root {
  --darkPurple: #351c75;
  --mediumPurple: #5e4798;
  --lightPurple: #d9d2e9;
}

body {
  display: grid;
  grid-template: 1fr / 1fr;
  background-color: var(--mediumPurple);
  color: white;
  justify-content: space-between;
  padding: 0px 50px;
  font-weight: bold;
  overflow-x: hidden;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  color: var(--lightPurple);
}

p, h5 {
  color: var(--lightPurple);
}

h2 {
  margin: 0px;
  font-size: 26px;
}

.button {
  padding: 8px 20px;
  background-color: var(--darkPurple);
  border-radius: 16px;
  color: white;
  border-width: 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.multiple-choice-form {
  display: grid;
  place-items: center;
  margin: 30px;
}

.radio-choices {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 30px 10px 30px;
}

.radio-choices label {
  display: flex;
  align-items: center;
  color: var(--lightPurple);
}

.radio-choices label input[type="radio"] {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 10px var(--lightPurple);
  background-color: var(--lightPurple);
  margin: 7px 10px;
}